.build-ios/
.build-mac/
*.xcodeproj/
*.xcworkspace/
xcuserdata/
.DS_Store
node_modules/
test-results/
*.xcresult/
artifacts/private/
artifacts/test-pass-*/

.build-device/
.build-uat/
*.xcarchive/
*.ipa
